<form name="form" class="form-horizontal">
		<div class="row-fluid">
		<h1>Available operators</h1>
		</div>
			<div class="row-fluid" ng-repeat="action in actions">
				<div class="span12">
					<h4>{{action.title}} <small>{{action.description}}</small></h4>
					
				</div>
			</div>
			<div class="row-fluid">
					<h2>Add an operator</h2>
			</div>
			<div class="row-fluid">
					<input ng-model="newAc.title" class="span2" type="text" placeholder="Nom">
					<input ng-model="newAc.frame" class="span2" type="text" placeholder="Frame">
					<input ng-model="newAc.description" type="text" placeholder="Description">
					<div class="btn-group">
		                <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">{{newAc.type.title}} <span class="caret"></span></button>
		                <ul class="dropdown-menu">
		                  <li  ng-repeat="operatorType in operatorTypes"><a ng-click="newAc.type=operatorType">{{operatorType.title}}</a></li>
		                </ul>
		            </div>
					<button class="btn btn-success" type="button" ng-click="putAc()" ng-disabled=" newAc.type.type==null || newAc.title==null">Ajouter</button>
			</div>

	<div class="form-actions">
		<div class="btn-toolbar">
			<button  class="btn btn-success" ng:click="fetch()"><i class="icon-refresh"></i> Reload</button >
			<a href="#/" class="btn pull-left">
			<i class="icon-arrow-left"></i> Back</a>
		</div>
	</div>
</form>
