	<div class="row-fluid">
			<h1 style="text-align:center">Administration</h1>
	</div>

				
	<div class="row-fluid">	
	<div class="span12">	
		<div class="btn-toolbar" style="text-align:center">
			<a href="#/administration/rules" class="btn btn-large">Rules management</a>
              <a href="#/administration/sensors" class="btn btn-large">Sensors management</a>
              <a href="#/operators" class="btn btn-large">Operators management</a>
              <a href="#/actions" class="btn btn-large">Actions management</a>
              </div>
        </div>
	</div>
             	<div class="row-fluid">	
		<div class="span12 well">	
		 <h3 style="text-align:center">Initial configuration</h3>
		 <div class="btn-toolbar" style="text-align:center">
					  <a href="#/setup" class="btn btn-primary">Start <i class=" icon-chevron-right"></i></a>
					  <a href="#/setup/personalInfo" class="btn">Personal information <i class=" icon-chevron-right"></i></a>
					  <a href="#/setup/avatar" class="btn">Avatar choice <i class=" icon-chevron-right"></i></a>
					  <a href="#/setup/house" class="btn"> House choice <i class=" icon-chevron-right"></i></a>
					  <a href="#/setup/rooms" class="btn"> Room choice <i class=" icon-chevron-right"></i></a>
					  <a href="#/" class="btn btn-success"> End <i class=" icon-chevron-right"></i></a>
		</div>
		</div>
	</div>

